@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans';

body {
  background: lightblue;
  font-family: 'Incosolata', monospace;
}

.container {
  padding: 30px;
}

.uploadFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: greenyellow;
    display: inline-block;
}

.uploadFile:focus + label,
.uploadFile + label:hover {
    background-color: palegreen;
}

#submit {
  background: lightseagreen;
}

#submit:hover {
  background: cornflowerblue: ;
}

.uploadFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* just some text styling */
h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}